<%- include("partials/header") %>
<div class="container">
    <h1 class="display-3">
      Thank You
    </h1>
    <p class="lead">Congratulations, You have successfully integrated payment in your website. Happy Coding</p>
    <a href="/" class="btn btn-dark btn-lg">Go Back Home</a>
</section>
<%- include("partials/footer") %>